body {
  background: #f5f4fa;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px 10px;
}
.list {
  list-style-type: none;
}

.wrap-logo {
  display: flex;
  align-items: center;
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}
.logo {
  padding-right: 125px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #f5f4fa;
  color: #212121;
}

nav {
  display: flex;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}
/* Hero title */
.site-nav .link.current {
  background-color: #f5f4fa;
}
.hero-title {
  padding: 25px;
}
.certificate {
  background-color: #ffffff;
  float: left;
  margin-right: 15px;
  margin-left: 150px;
  margin-bottom: 50px;
  border-radius: 5px;
  border-left-width: 150px;
  padding: 1em;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hero-text {
  margin-top: 65px;
  padding-right: 125px;
  padding-left: 500px;
  margin-bottom: 250px;

  font-size: 20px;
}
.text_about {
  margin-left: 50px;
  margin-right: 50px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  padding: 20px 0px;
  background: #2f303a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu li {
  list-style: none;
}

.menu li a {
  font-size: 1.2em;
  color: #ffffff;
  opacity: 0.75;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
}

.menu li a:hover {
  opacity: 1;
}
footer p {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
  margin-bottom: auto;
}

/* Works */

.container {
  width: 100%;
}

.container ul {
  text-align: center;
  list-style: none;
}

.container li {
  display: inline-block;
}

/* Price */
.price-title {
  margin-top: 50px;
}

.price-item {
  background-color: #ffffff;
  padding: 25px 40px;
  margin: 25px;
}

/* feedback */
.feedback-container {
  width: 100%;
}

.feedback-container .feedback-list {
  text-align: center;
  list-style: none;
}

.feedback-container .feedback-item {
  display: inline-block;
}
.feedback-title {
  margin-top: 50px;
}

.feedback-item {
  background-color: #ffffff;
  padding: 25px 40px;
  margin: 25px;
  border-radius: 25px;
}
.feedback_photo {
  border-radius: 25px;
}
